<!-- your_project_name/templates/base.html -->
    <!DOCTYPE html>
    <html>
    <head>
        <title>{% block title %}My Django Project{% endblock %}</title>
        {# Add common CSS links here #}
    </head>
    <body>
        <header>
            <h1>My Project Header</h1>
            {# Add navigation or other header elements #}
        </header>

        <main>
            {% block content %}
                {# Default content or a placeholder for child templates #}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 RFID Door Project</p>
            {# Add common JavaScript links here #}
		
	    <p><A href="http://DMS.local/last">Last 10 Door Accesses </A></p>   

	    <p><a href="http://DMS.local/admin/" >Admin Site</a></p>
        </footer>
    </body>
    </html>
